* {
    box-sizing: border-box;
  }
  
  body {

    background-position: center;
    background-size: cover;
    background-color: rgb(248, 205, 238);
    animation-name: BgColors;
    animation-duration: 4s;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding: 20px;
    font-family: Arial;
  }
  @keyframes BgColors {
    0%   {background-color: rgb(235, 75, 113);}
    25%  {background-color: rgb(247, 247, 127);}
    50%  {background-color: rgb(152, 152, 241);}
    100% {background-color: rgb(124, 246, 124);}
  }

  .main {
    max-width: 1000px;
    margin: auto;
  }


  img{
    float: none;
    width:  200px;
    height: 200px;
    object-fit: cover;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }

  .row,
.row > .column {
  padding: 8px;
}

.column {
    float: left;
    width: 25%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .content {
    background-color: white;
    padding: 10px;
  }

  img,h3:hover{
    background-color: #56629b;
    cursor: pointer;
  }
  img:hover{
    transform: scale(0.9);
  }
 

.search-bar{
    width: 100%;
    max-width: 700px;
    max-height: 70px;
    background: rgba( 255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #0e0e0f;
}

::placeholder{
    color: #86859d;
}

.search-bar button img{
    width: 25px;
    height: 25px; 
}

.search-bar button{
    border: 0;
    border-radius: 60%;
    width: 60px;
    height: 60px;
    background: #56629b;
    cursor: pointer;
} 



